html{
overflow: hidden;
}
body {
    height: 100%;
}

.timeline {
    width: 60%;
    height: 100%;
    border-left: 0.5rem solid;
    float: right;
    padding-left : 15px;
    overflow: scroll;
}

.vstream {
    width: 31%;
    float: left;
}

.content {
    margin-top: 10px;
}

.streamline {
    width: 100%;
    margin-bottom : 20px
}

.video {
    float: left;
}

.logo {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.name {
    color: white !important;
}

.bar {
    position: fixed;
    top: 0;
    width: 100%;
}

.live {
        width: 30%;
        margin-bottom: 5px;
        margin-left: 20px ;
}

.sblock{
    padding-left:25px;
}

.content{
    padding-left: 20px;
    padding-right: 20px;
}

#fluxvideo {
    display: none;
}