body {
    height: 50%;
}

.timeline {
    width: 30%;
    height: 700px;
    border-left: 0.5rem solid;
    float: right;
    padding-left : 15px;
    overflow-y: scroll;
}

.content {
    margin-top: 10px;
}

.streamline {
    width: 70%;
    float: left;

}
.logo {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.name {
    color: white !important;
}

.bar {
    position: fixed;
    top: 0;
    width: 100%;
}

.live {
        width: 30%;
        margin-bottom: 5px;
        margin-left: 20px ;
}

.content{
    padding-left: 20px;
    padding-right: 20px;
}

#fluxvideo {
    display: none;
}
#fluximage{
    margin: auto;
}
.flux{
    margin: auto;
    width: 70%;
    height: auto;
}
.positionimg{
    float: right;
}
