# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\flackmyproject\s4_camera\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
